<div calss="span4">
	<form class="form-horizontal">
		<div class="control-group">
	    <label class="control-label">Repeats</label>
	    <div class="controls">
	      <select>
	      	<option disabled>Dayly</option>
	      	<option selected>Weekly</option>
	      	<option disabled>Monthly</option>
	      	<option disabled>Yearly</option>
	      </select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label">Every</label>
	    <div class="controls">
	      <select>
	      	<option>1 Week</option>
	      	<option>2 Weeks</option>
	      	<option selected>3 Weeks</option>
	      	<option>4 Weeks</option>
	      </select>
	    </div>
	  </div>

	  <!-- .... -->
	  <div class="control-group">
	    <label class="control-label">Repeat On Sanday</label>
	    <div class="controls">
	    	<input type="checkbox">
	      <div class="input-append">
				  <input class="span1" type="text">
				  <span class="add-on"><span class="icon-time"></span></span>
				</div>
	    </div>
	  </div>
	</form>
</div>